$theme: #f0cd64;

/* 布局 */
$sidebar-width: 210px;
$sidebar-background: #737b45;

$navbar-height: 30px;
$navbar-padding: 20px;
$header-height: 86px;
$reusetab-height: 40px;

$navbar-background: #BECCD8;
$appmain-background: #F9FAFB;
$header-background: #EEF4F9;
$right-side-font-color: #666666;
$reuse-tab-item-background: #FFFFFF;

$title-color: #fff;
$parent-title-color: #407c3e;

$table-border-color: #dee2e6;

/* 菜单 */
$menuItem-hover: #254d24;
$menuItem-bg: #407c3e;
$submenu-title: #c4c9d2;
$menuItem-height: 50px;

